<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<title>Math generator</title>
		<style>
			.rootcontainer{
				display: none;
				text-align: center;
				font-size: 25px;
				line-height: 4rem;
				padding: 40px;
			}
			.container{
				display: inline-block;
				vertical-align: middle;
			}
			#shit {
				display: none;
			}
			#bracket0,#bracket1,#bracket2,#bracket3,#bracket4,#bracketPlusInfin,#bracketMinusInfin {
				display: none;
			}

		</style>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<script type="text/javascript" async
				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
		</script>
		<!-- В скрипте выше я связываю эту страницу с последней версией MathJax через CDN провайдер,cdnjs, в случае, если mathml перестанет нормально отображаться, надо обновить этот скрипт, для этого надо найти инструкцию в справочнике сайта MathJax (http://docs.mathjax.org/en/latest/start.html)-->
	</head>


	<body>
		<div style="display: block;">
			<nav role='navigation'>
				<ul><li><a href="#">About</a>
					<ul>
						<li id='btnSquareEq'>Квадратное уравнение</li>
						<li id='btnPolynomial3'>Возвратное ур 3 степени</li>
						<li id='btnPolynomial4'>Возвратное ур 4 степени</li>
						<li id='btnPhomogeneousSq'>Однородное ур > квадратное</li>
						<li id='btnPhomogeneousPolynomial3'>Однородное ур > возвратное 3 степени</li>
						<li id='btnMethodOfUndeterCoef'>Уравнение на метод неопределенных коэффициентов</li>
						<li id='btnInequality'>Неравенство</li>
						<li id='btnSumOf4Degrees'>Сумма 4 степеней</li>
						<li id='btnСommon'>Обычное ур. (Безу)</li>
					</ul>
					</li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Contact Us</a>

				</ul>
			</nav>
		</div>

		<button id='btnGenerate'>Generate</button>
		
		<!--<div id="mathtest" class="roojtcontainer">
			<math id="math" xmlns="http://www.w3.org/1998/Math/MathML">
				<mfrac>
					<mrow id="testmrow">
						<mo id="signa"></mo>
						<mn id="a">a&infin;</mn>
						<msup>
							<mi>x</mi>
							<mn>2</mn>
						</msup>
						<mo id="signb">+</mo>
						<mrow id="mrow">
							<mn id="b">b</mn>
							<mo>&InvisibleTimes;</mo>
							<mi id="bi">x</mi>
						</mrow>
						<mo id="signc">+</mo>
						<mn id="c"></mn>
					</mrow>
					<mrow>
						<mn>
							-&infin;
						</mn>

					</mrow>
				</mfrac>
				<mo>=</mo>
				<mn>0</mn>
				<mn>&#x221E;</mn>
			</math>
		</div>-->

		<!---------------------------------------------------------------------------------------------->
		{% block content %}{% endblock %}
		<div id="Common" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mo id="signa"></mo>
						<mrow>
							<mi id="a">a</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>3</mn>
							</msup>
						</mrow>
						<mrow id="mrowb">
						<mo id="signb">+</mo>
							<mi id="b">b</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>2</mn>
							</msup>
						</mrow>
						<mrow id="mrowc">
						<mo id="signc">+</mo>
							<mi id="c">c</mi>							
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
						</mrow>
						<mo id="signd">+</mo>
						<mi id="d">d</mi>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="par1Common"></p>
		</div>

		<div id="SumOf4Degrees" class="rootcontainer">
			<div id="Example">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<msup id="Plus">
							<mfenced>
								<mrow>
									<mn>t</mn>
									<mo>+</mo>
									<mn>a</mn>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
						<mo>+</mo>
						<msup id="Minus">
							<mfenced>
								<mrow>
									<mn>t</mn>
									<mo>-</mo>
									<mn>a</mn>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
					</mrow>
					<mo>=</mo>
					<mn>c</mn>
				</math>
			</div>
			<!--<div id="Square">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<msup id="Plus">
							<mfenced>
								<mrow>
									<mo id="signa"></mo>
									<mn id="a">a</mn>
									<msup>
										<mi>x</mi>
										<mn>2</mn>
									</msup>
									<mrow id="mrowb">
										<mo id="signb">+</mo>
										<mn id="b">b</mn>
										<mi>x</mi>
									</mrow>
									<mrow id="mrowc">
										<mo id="signc">+</mo>
										<mn id="c">c</mn>
									</mrow>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
						<mo>+</mo>
						<msup id="Minus">
							<mfenced>
								<mrow>
									<mo id="signa"></mo>
									<mn id="a">a</mn>
									<msup>
										<mi>x</mi>
										<mn>2</mn>
									</msup>
									<mrow id="mrowb">
										<mo id="signb">+</mo>
										<mn id="b">b</mn>
										<mi>x</mi>
									</mrow>
									<mrow id="mrowc">
										<mo id="signc">+</mo>
										<mn id="c">c</mn>
									</mrow>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
					</mrow>
					<mo>=</mo>
					<mn id="d">d</mn>
				</math>
			</div>-->
			<div id="Simple" style="display: none">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<msup id="Plus">
							<mfenced>
								<mrow>
									<mn id="b">-7</mn>
									<mi>x</mi>
									<mrow id="mrowPlusC">
									<mo id="signc">+</mo>
									<mn id="c">3</mn>
									</mrow>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
						<mo>+</mo>
						<msup id="Minus">
							<mfenced>
								<mrow>
									<mn id="b">b</mn>
									<mi>x</mi>
									<mrow id="mrowMinusC">
									<mo id="signc">+</mo>
									<mn id="c">3</mn>
									</mrow>
								</mrow>
							</mfenced>
							<mn>4</mn>
						</msup>
					</mrow>
					<mo>=</mo>
					<mn id="d">d</mn>
				</math>
			</div>
			<p id="par1SumOf4Degrees"></p>
		</div>

		<div id="Inequality" class="rootcontainer">
			<div id="Equation" class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mo id="signa"></mo>
						<mn id="a">a</mn>
						<mo>&InvisibleTimes;</mo>
						<msup>
							<mi>x</mi>
							<mn>2</mn>
						</msup>
						<mrow id="mrowb">
							<mo id="signb">+</mo>
							<mn id="b">b</mn>
							<mo>&InvisibleTimes;</mo>
							<mi id="bi">x</mi>
						</mrow>
						<mrow id="mrowc">
							<mo id="signc">+</mo>
							<mn id="c">c</mn>
						</mrow>
						<mo id="equal">&#x2265;</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<div id="EquationsFraction" class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mfrac>
						<mrow>
							<mrow id="numerator1">
								<mo id="numeratorOpen1">(</mo>
								<mo id="signa"></mo>
								<mn id="a">a</mn>
								<mo>&InvisibleTimes;</mo>
								<msup>
									<mi>x</mi>
									<mn>2</mn>
								</msup>
								<mrow id="mrowb">
									<mo id="signb">+</mo>
									<mn id="b">b</mn>
									<mo>&InvisibleTimes;</mo>
									<mi id="bi">x</mi>
								</mrow>
								<mrow id="mrowc">
									<mo id="signc">+</mo>
									<mn id="c">c</mn>
								</mrow>
								<mo id="numeratorClose1">)</mo>
							</mrow>
							<mrow id="numerator2">
								<mo id="numeratorOpen2">(</mo>
								<mo id="signa"></mo>
								<mn id="a">a</mn>
								<mo>&InvisibleTimes;</mo>
								<msup>
									<mi>x</mi>
									<mn>2</mn>
								</msup>
								<mrow id="mrowb">
									<mo id="signb">+</mo>
									<mn id="b">b</mn>
									<mo>&InvisibleTimes;</mo>
									<mi id="bi">x</mi>
								</mrow>
								<mrow id="mrowc">
									<mo id="signc">+</mo>
									<mn id="c">c</mn>
								</mrow>
								<mo id="numeratorClose2">)</mo>
							</mrow>
						</mrow>
						<mrow>
							<mrow id="denominator1">
								<mo id="denominatorOpen1">(</mo>
								<mo id="signa"></mo>
								<mn id="a">a</mn>
								<mo>&InvisibleTimes;</mo>
								<msup>
									<mi>x</mi>
									<mn>2</mn>
								</msup>
								<mrow id="mrowb">
									<mo id="signb">+</mo>
									<mn id="b">b</mn>
									<mo>&InvisibleTimes;</mo>
									<mi id="bi">x</mi>
								</mrow>
								<mrow id="mrowc">
									<mo id="signc">+</mo>
									<mn id="c">c</mn>
								</mrow>
								<mo id="denominatorClose1">)</mo>
							</mrow>
							<mrow id="denominator2">
								<mo id="denominatorOpen2">(</mo>
								<mo id="signa"></mo>
								<mn id="a">a</mn>
								<mo>&InvisibleTimes;</mo>
								<msup>
									<mi>x</mi>
									<mn>2</mn>
								</msup>
								<mrow id="mrowb">
									<mo id="signb">+</mo>
									<mn id="b">b</mn>
									<mo>&InvisibleTimes;</mo>
									<mi id="bi">x</mi>
								</mrow>
								<mrow id="mrowc">
									<mo id="signc">+</mo>
									<mn id="c">c</mn>
								</mrow>
								<mo id="denominatorClose2">)</mo>
							</mrow>
						</mrow>
					</mfrac>
					<mpadded depth = "+1ex"><mo id="equal">=</mo></mpadded>
					<mn>0</mn>
				</math>
			</div>
			<p id="parInequality"></p>
			<div id="answers">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mi>x</mi>
					<mo>&isin;</mo>
					<mrow id="bracketMinusInfin" class="bracket">
						<mo>(</mo>
						<mn id="bracketNumber1">-&infin;</mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracketMinusInfinClose">)</mo>
					</mrow>
					<mrow id="bracket0" class="bracket">
						<mo id="bracket0Open">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracket0Close">)</mo>
					</mrow>
					<mrow id="bracket1" class="bracket">
						<mo>&#x222a;</mo>
						<mo id="bracket1Open">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracket1Close">)</mo>
					</mrow>
					<mrow id="bracket2" class="bracket">
						<mo>&#x222a;</mo>
						<mo id="bracket2Open">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracket2Close">)</mo>
					</mrow>
					<mrow id="bracket3" class="bracket">
						<mo>&#x222a;</mo>
						<mo id="bracket3Open">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracket3Close">)</mo>
					</mrow>
					<mrow id="bracket4" class="bracket">
						<mo>&#x222a;</mo>
						<mo id="bracket4Open">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2"></mn>
						<mo id="bracket4Close">)</mo>
					</mrow>
					<mrow id="bracketPlusInfin" class="bracket">
						<mo>&#x222a;</mo>
						<mo id="bracketPlusInfinOpen">(</mo>
						<mn id="bracketNumber1"></mn>
						<mo>;</mo>
						<mn id="bracketNumber2">+&infin;</mn>
						<mo>)</mo>
					</mrow>
				</math>
			</div>
		</div>

		<div id="MethodOfUndeterCoef" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mrow>
							<msup>
								<mi>x</mi>
								<mn>4</mn>
							</msup>
						</mrow>
						<mo id="signb">+</mo>
						<mrow>
							<mi id="b">b</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>3</mn>
							</msup>
						</mrow>
						<mo id="signc">+</mo>
						<mrow>
							<mi id="c">с</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>2</mn>
							</msup>
						</mrow>
						<mo id="signd">+</mo>
						<mrow>
							<mi id="d">d</mi>							
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
						</mrow>
						<mo id="signe">+</mo>
						<mi id="e">e</mi>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="par1MethodOfUndeterCoef"></p>
		</div>

		<div id="PhomogeneousPolynomial3" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mrow>
							<mo id="signa"></mo>
							<mi id="a">a</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>3</mn>
							</msup>
						</mrow>
						<mo id="signb">+</mo>
						<mrow>
							<mi id="b">b</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>2</mn>
							</msup>
							<mo>&InvisibleTimes;</mo>
							<mi>y</mi>
						</mrow>
						<mo id="signb2">+</mo>
						<mrow>
							<mi id="b2">b</mi>							
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>y</mi>
								<mn>2</mn>
							</msup>
						</mrow>
						<mo id="signa2">+</mo>
						<mi id="a2">a</mi>
						<mo>&InvisibleTimes;</mo>
						<msup>
							<mi>y</mi>
							<mn>3</mn>
						</msup>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="parPhomogeneousPolynomial3"></p>
		</div>

		<!--ОднородноеКвадратное ур -->
		<div id="PhomogeneousSq" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mo id="signa"></mo>
						<mi id="a">a</mi>
						<mo>&InvisibleTimes;</mo>
						<msup>
							<mi id="ai">x</mi>
							<mn>2</mn>
						</msup>
						<mo id="signb">+</mo>
						<mrow id="mrow">
							<mn id="b">b</mn>
							<mo>&InvisibleTimes;</mo>
							<mi id="bix">x</mi>
							<mo>&InvisibleTimes;</mo>
							<mi id="biy">y</mi>
						</mrow>
						<mo id="signс">+</mo>
						<mn id="c">c</mn>
						<mo>&InvisibleTimes;</mo>
						<msup>
							<mi id="ci">y</mi>
							<mn>2</mn>
						</msup>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="parPhomogeneousSq"></p>
		</div>

		<!--Возвратное ур 4 степени-->
		<div id="Polynomial4" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mrow>
							<mo id="signa"></mo>
							<mi id="a">a</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>4</mn>
							</msup>
						</mrow>
						<mo id="signb">+</mo>
						<mrow>
							<mi id="b">b</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>3</mn>
							</msup>
						</mrow>
						<mo id="signс">+</mo>
						<mrow>
							<mi id="c">с</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>2</mn>
							</msup>
						</mrow>
						<mo id="signb2">+</mo>
						<mrow>
							<mi id="b2">b</mi>							
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
						</mrow>
						<mo id="signa2">+</mo>
						<mi id="a2">a</mi>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="par1Polynomial4"></p>
			<p id="par2Polynomial4"></p>
		</div>

		<!--Возвратное ур 3 степени-->
		<div id="Polynomial3" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mrow>
							<mo id="signa"></mo>
							<mi id="a">a</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>3</mn>
							</msup>
						</mrow>
						<mo id="signb">+</mo>
						<mrow>
							<mi id="b">b</mi>
							<mo>&InvisibleTimes;</mo>
							<msup>
								<mi>x</mi>
								<mn>2</mn>
							</msup>
						</mrow>
						<mo id="signb2">+</mo>
						<mrow>
							<mi id="b2">b</mi>							
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
						</mrow>
						<mo id="signa2">+</mo>
						<mi id="a2">a</mi>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="parPolynomial3"></p>
		</div>

		<!--Квадратное ур-->
		<div id="SquareEq" class="rootcontainer">
			<div class="container">
				<math xmlns="http://www.w3.org/1998/Math/MathML">
					<mrow>
						<mo id="signa"></mo>
						<mn id="a">a</mn>
						<msup>
							<mi>x</mi>
							<mn>2</mn>
						</msup>
						<mrow id="mrowb">
							<mo id="signb">+</mo>
							<mn id="b">b</mn>
							<mo>&InvisibleTimes;</mo>
							<mi>x</mi>
						</mrow>
						<mrow id="mrowc">
							<mo id="signc">+</mo>
							<mn id="c">c</mn>
						</mrow>
						<mo>=</mo>
						<mn>0</mn>
					</mrow>
				</math>
			</div>
			<p id="parSquareEq"></p>
		</div>
		{% load static %}
		<script src="{% static 'main.js' %}"></script>
	</body>
</html>